#configure-search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 750px;
    margin-top: 3em;
    border-radius: 16px 0 0 0;
    padding: 27px 32px;

    & span {
        font-size: 13px;
    }

    & button {
        position: relative;
        appearance: none;
        border: none;
        background: transparent;
        margin: 0;
        padding: 0;
        font-size: 15px;

        &:not(#search) {
            font-weight: 600;
            display: flex;
            align-items: center;

            &::after {
                content: url(/src/assets/arrow.svg);
                margin-left: 20px;
                width: 20px;
                height: 100%;
                animation: rotateUp 300ms ease forwards;
            }
        }

        &#search {
            padding: 15px 45px;
            cursor: pointer;
            transition: all .3s 0s ease-out;
            display: flex;
            gap: 4px;
            justify-content: center;
            align-items: center;
            border-radius: 48px;
            background-color: var(--secondary-color);
            color: #fff;
            z-index: 2;
            overflow: hidden;

            &::before {
                content: url(/src/assets/magnifying-glass.svg);
                width: 30px;
            }

            &::after {
                content: '';
                left: 0;
                width: 0;
                position: absolute;
                display: block;
                height: 100%;
                border-radius: 48px;
                transition: .5s ease;
                z-index: -1;
            }

            &:hover {
                &::after {
                    width: 110%;
                    background-color: var(--primary-color);
                }
            }
        }
    }

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;

        & li {
            display: none;
            opacity: 0;
        }
    }

    & .dropdown_menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        perspective: 1000px;
        z-index: -1;
    }

    & #city,
    & #establishments {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.open {
            & button {
                &::after {
                    animation: rotateDown 300ms ease forwards;
                }
            }
        }

        &.open .dropdown_menu {
            display: block;

            & li {
                display: block;
                transform-origin: top center;

                &.item-1 {
                    animation: rotateZ 300ms 60ms ease-in-out forwards;
                }

                &.item-2 {
                    animation: rotateZ 300ms 120ms ease-in-out forwards;
                }

                &.item-3 {
                    animation: rotateZ 300ms 180ms ease-in-out forwards;
                }
            }
        }
    }
}

@keyframes rotateDown {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes rotateUp {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes rotateZ {
    0% {
        opacity: 0;
        /* transform: translateZ(290px); */
        transform: translateZ(10px);
    }

    /* 80% {
        transform: translateZ(5px);
    } */

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}